{% assign page = pages[block.settings.page] %}

{% if page != empty %}
  <span class="rte">
    {{ page.content }}
  </span>
{% else %}
  <div class="no-content">
    <p class="no-margin">{{ 'onboarding.select_page' | t }}</p>
  </div>
{% endif %}
