







@font-face {
  font-family: "Tenor Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/tenor_sans/tenorsans_n4.ef7b684f1cfa0d3a90338d1fa5f36acdf7889632.woff2?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=4f27ab0a1bb63abc908d173ac84e43b742988741e3f5ce77b1db2db1c0857540") format("woff2"),
       url("https://fonts.shopifycdn.com/tenor_sans/tenorsans_n4.514efc84ed8364b455bb5dd12e65583fe93ccf0f.woff?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=b86678759ca935ea7ae4e83c76b85ebf333d0801e7719f1f1041c7f7fa047415") format("woff");
}








#app-header #app-upper-header .shop-identity-tagline .name {
  font-family: "Tenor Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}









@font-face {
  font-family: "Neuzeit S";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n4.7275204c8756b197aaff0f2e456feac4e614cb3d.woff2?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=4fd93707ec4ae33bbc0daa9c370d71bf7735210f1190e7d1e6cba03bcdcd3b2a") format("woff2"),
       url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n4.68acb716c715dc60e5b3841889ddf41bc323f616.woff?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=4ce99e36b9cf2ee27f4ef66346dc6353fc4a6e33dc0d3e42c07f15046a59ede2") format("woff");
}



  @font-face {
  font-family: "Neuzeit S";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n9.a64a5fe634017b1a650f52bf59553ec4c876d58d.woff2?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=455c6cabc4166233bcc64a0adc58997ba0f244d699c1ee57deb3802aec25171e") format("woff2"),
       url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n9.0328fbbe859508e64e762e98e763b6e729e1df1c.woff?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=13e88e3481a080f5ae1283566d16313cd709d03b6bf2c24a9bbdeebe4f28343e") format("woff");
}







#app-header #app-lower-header .menu {
  font-family: "Neuzeit S", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

#app-header #app-lower-header .menu ul.level-1 li.level-1 .submenu {
  font-size: 14px;
}

#slide-side-menu .menu {
  font-family: "Neuzeit S", sans-serif;
}









@font-face {
  font-family: "Tenor Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/tenor_sans/tenorsans_n4.ef7b684f1cfa0d3a90338d1fa5f36acdf7889632.woff2?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=4f27ab0a1bb63abc908d173ac84e43b742988741e3f5ce77b1db2db1c0857540") format("woff2"),
       url("https://fonts.shopifycdn.com/tenor_sans/tenorsans_n4.514efc84ed8364b455bb5dd12e65583fe93ccf0f.woff?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=b86678759ca935ea7ae4e83c76b85ebf333d0801e7719f1f1041c7f7fa047415") format("woff");
}








h1, h2, h3, h4, h5, h6, .heading {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}









@font-face {
  font-family: "Neuzeit S";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n4.7275204c8756b197aaff0f2e456feac4e614cb3d.woff2?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=4fd93707ec4ae33bbc0daa9c370d71bf7735210f1190e7d1e6cba03bcdcd3b2a") format("woff2"),
       url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n4.68acb716c715dc60e5b3841889ddf41bc323f616.woff?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=4ce99e36b9cf2ee27f4ef66346dc6353fc4a6e33dc0d3e42c07f15046a59ede2") format("woff");
}



  @font-face {
  font-family: "Neuzeit S";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n9.a64a5fe634017b1a650f52bf59553ec4c876d58d.woff2?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=455c6cabc4166233bcc64a0adc58997ba0f244d699c1ee57deb3802aec25171e") format("woff2"),
       url("https://fonts.shopifycdn.com/neuzeit_s/neuzeits_n9.0328fbbe859508e64e762e98e763b6e729e1df1c.woff?h1=YmlnZGpnZXR0eXNoaXQuY29t&h2=ZGF5MWRpYW1vbmRzLmNvbQ&h3=b25seWJpZ2RqZ2V0dHkuZmFucw&h4=dGhlZ2V0bWFuLmNvbQ&h5=ZGlhbW9uZHNpbmNlZGF5MS5jb20&h6=ZGF5MWRpZ25pZmllZC5jb20&hmac=13e88e3481a080f5ae1283566d16313cd709d03b6bf2c24a9bbdeebe4f28343e") format("woff");
}







body, #app-body {
  font-family: "Neuzeit S", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

#announcement-bar, #top-bar {
  font-family: "Neuzeit S", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="file"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select,
select[multiple="multiple"],
textarea {
  font-family: "Neuzeit S", sans-serif;
  font-weight: 400;
  font-style: normal;
}
